/* General reset and box sizing */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

ul {
    list-style: none;
}

/* Logo in sidebar */
img#logo {
    width: 100px;
}

/* Main container */
div#container {
    display: flex;
    flex-direction: row;
    color: #fff;
}

/* Bar with hamburger menu for small screens */
div#mini-bar {
    position: fixed;
    width: 50px;
    height: 100vh;
    background-color: #F2CD5D;
    z-index: 100;
}

/* Sidebar - Small screens */
div#sidebar {
    width: 100%;
    background-color: #F2CD5D;
    display: flex;
    flex-direction: column;
}

/* Logo */
div#sidebar img {
    display: block;
    margin: 20px auto;
}

/* Nav Links */
nav#sidebar-nav {
    display: flex;
    flex-direction: column;
    flex: 1;
}

ul#sidebar-links {
    width: 100%;
    padding-top: 50px;
}

ul#sidebar-links li {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
}

ul#sidebar-links li a {
    margin: auto;
    text-decoration: none;
    color: #000;
    transition: transform 0.3s ease;
    display: inline-block;
}

ul#sidebar-links li a:hover,
ul#sidebar-links li a.active {
    transform: scale(1.3);
}

/* Social Links */
div#sidebar footer aside ul#socials {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div#sidebar footer aside ul#socials li a img {
    margin: 0 0 10px 0;
}

div#sidebar footer aside ul#socials li a img:hover {
    box-shadow: 0px 0px 3px 1px #000;
    border-radius: 5px;
}

/* Toggle menu settings */
div#toggle-menu {
    display: none;
}

.hamburger {
    position: fixed;
    z-index: 100;
    top: 5px;
    left: 5px;
    padding: 4px;
    border: none;
    background: #F2CD5D;
    cursor: pointer;
}

div#container div#mini-bar button.hamburger i.closeIcon {
    display: none;
}

.menu {
    position: fixed;
    transform: translateX(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: black;
    color: white;
    list-style: none;
    padding-top: 4rem;
}

.showMenu {
    transform: translateX(0);
}

/* Main content area */
div#main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #000;
}

div#nature, div#wildlife {
    height: 50vh;
    position: relative;
    overflow: hidden; /* Ensure the image doesn't overflow */
}

div#nature {
    background-color: #000;
}

div#wildlife {
    background-color: grey;
}

div#main div#nature img,
div#main div#wildlife img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .75;
    transform: scale(1.1); /* Start slightly zoomed in */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Smooth transition for the zoom effect */
}

div#nature:hover img, div#wildlife:hover img {
    transform: scale(1); /* Zoom out to the natural size */
    opacity: 1;
}

div#nature div.hover-text, div#wildlife div.hover-text {
    color: #fff;
    position: absolute;
    top: calc(100% + 20px); /* Start just outside the bottom edge of the container */
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    text-align: center;
    z-index: 10;
    opacity: 0; /* Start invisible */
    transition: top 0.5s ease, opacity 0.5s ease; /* Transition for top and opacity */
}

div#nature:hover div.hover-text, div#wildlife:hover div.hover-text {
    top: 50%; /* Move to the center of the container */
    opacity: 1; /* Make visible */
}

footer p {
    font-size: .7rem;
    text-align: center;
    margin-bottom: 10px;
    color: #000;
}

footer p a {
    color: #000;
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

div#gallery {
    flex-direction: column;
    width: 100%;
}

div.grid-container {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: 1fr;
    gap: 10px;
}

.grid-item {
    position: relative;
    padding-top: 75%;
    overflow: hidden;
    max-height: 300px;
}

div.grid-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

div.grid-item img:hover {
    transform: scale(1.3);
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 200; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    cursor: pointer; /* Change cursor to pointer */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.2s;
}

@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Navigation Arrows */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

div#about img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 25% 25%;
}
div#about div#about-content {
    margin-left: 60px;
    margin-right: 10px;
}

div#about h1, h3 {
    padding: 20px 0 0;
}
div#about p {
    padding-top: 10px;
    padding-bottom: 10px;
}

div#about ul {
    padding: 10px 0;
}
div#about ul li {
    padding: 5px;
}
@media only screen and (min-width: 750px) {
    div#mini-bar {
        display: none;
    }

    div#sidebar {
        position: fixed;
        z-index: 100;
        width: 200px; /* Ensure sidebar has a fixed width */
    }

    .menu {
        position: unset;
        height: 100vh;
        max-width: 200px;
        transform: none;
    }

    /* Main content area */
    div#main {
        flex-direction: row;
        width: calc(100% - 200px);
        margin-left: 200px;
    }

    div#nature, div#wildlife {
        height: 100vh;
    }

    div#nature div.hover-text, div#wildlife div.hover-text {
        color: #fff;
        position: absolute;
        top: calc(100% + 20px); /* Start just outside the bottom edge of the container */
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2em;
        text-align: center;
        z-index: 10;
        opacity: 0; /* Start invisible */
        transition: top 0.5s ease, opacity 0.5s ease; /* Transition for top and opacity */
    }
    
    div#nature:hover div.hover-text, div#wildlife:hover div.hover-text {
        top: 20%; /* Move to the center of the container */
        opacity: 1; /* Make visible */
    }

    div#gallery {
        display: flex;
        justify-content: flex-end;
        padding-left: 200px; /* Push content to the right by sidebar's width */
    }

    div.grid-container {
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(2, 1fr);
        max-width: 100%; /* Ensure grid container fits the remaining space */
    }
    div#wildlife-gallery div.grid-item:nth-child(3n+1),
    div#nature-gallery div.grid-item:last-child {
        grid-column: span 2;
    }
    div#wildlife-gallery div.grid-item:nth-child(3n+1):nth-child(4n) {
        grid-column: span 1;
        grid-row: span 1;
    }
    div#nature-gallery div.grid-item:nth-child(3n) {
        grid-column: span 2;
    }
    
    div#nature-gallery div.grid-item:nth-child(3n):nth-child(2n),
    div#wildlife-gallery div.grid-item:last-child {
        grid-column: span 1;
        grid-row: span 1;
    }
    div#about div#about-content {
        margin: 0 auto;
        width: 80%;
    }
}

@media only screen and (min-width: 1200px) {
    div.grid-container {
        grid-template-columns: repeat(4, 1fr);
    }

    div#wildlife-gallery div.grid-item:nth-child(3n+1), 
    div.grid-item:last-child {
        grid-row: span 1;
        grid-column: span 1;
    }

    div#wildlife-gallery div.grid-item:last-child() {
        grid-column: span 4;
        grid-row: span
    }
    div#nature-gallery div.grid-item:nth-child(3n),
    div.grid-item:last-child {
        grid-column: span 1;
        grid-row: span 1;
    }
    div#wildlife-gallery div.grid-item:nth-child(5n+1) {
        grid-row: span 2;
        grid-column: span 2;
    }
    div#nature-gallery div.grid-item:nth-child(3n+1), 
    div.grid-item:last-child {
        grid-row: span 1;
        grid-column: span 1;
    }
    div#nature-gallery div.grid-item:nth-child(2n) {
        grid-row: span 2;
        grid-column: span 2;
    }
    div#nature-gallery div.grid-item:nth-last-child(2) {
        grid-row: span 1;
        grid-column: span 1;
    }
    div#about div#about-content {
        margin: 0 auto;
        width: 50%;
    }
}